
.button-widget {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 4px;

  button:has(> .text-widget) {
    width: 100%;
  }

  button > .text-widget {
    margin-bottom: unset;
  }

  button:has(.card-widget, .icon-widget, .image-widget) {
    display: flex;
    flex-direction: column;
    color: unset;
    text-decoration: unset;
    background: unset;
    border: unset;
    box-shadow: unset;
    align-self: center;

    & > * {
      margin: unset !important;
    }

    &:hover {
      .icon-widget {
        filter: brightness(85%);
      }

      .image-widget {
        filter: grayscale(30%) drop-shadow(2px 2px 5px gray);
      }

      .card-widget {
        filter: grayscale(80%) drop-shadow(2px 2px 5px gray);
        background-color: #ddd !important;
      }
    }
  }
}