
.card-widget {
  margin: 4px;

  &:has(> img) {
    width: min-content;
  }

  .card-header {
    background: $headerBackground;
    font-family: $font-title-secondary;
  }

  .card-footer {
    background: $headerBackground;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}
