
.form-widget {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  .header-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .park-button {
    position: absolute;
    right: 0;
    top: -50px;
  }
}